.about-data
    .about-data__description.about-user-info
        .about-user-info__title
            .subtitle ЧЕМ Я МОГУ БЫТЬ ВАМ ПОЛЕЗЕН
        .about-user-info__text
            p Больше всего меня привлекает Frontend разработка, но я так же знаком и могу
              | решать не сложные задачи на Backend. Но давайте по порядку.
    .about-data__content
        include ../parts/skillset