block variables

footer.footer(class=`${footerClass}`)
    .footer__row_top
        .footer__left
            .footer__left-text
                | Этот сайт я сделал в рамках обучения в Школе онлайн образования
                | Loftschool.
        .footer__center
            include nav-menu
            +socials('vk', 'github-alt', 'linkedin')
        .footer__right
            .footer__right-quote Всегда пишите код так, будто соспровождать его будет
                | склонный к насилию психопат, который знает, где вы
                | живете.
            .footer__right-author - Martin Golding
    .footer__row_bottom
        .row-bottom-writing &copy; Владимир Астахов | создано с любовью в LoftSchool | 2016