ul.nav-menu
    li.nav-menu__item
        a(href='/works').nav-menu__link Мои работы
    li.nav-menu__item
        a(href='/about').nav-menu__link Обо мне
    li.nav-menu__item
        a(href='/blog').nav-menu__link Блог
    li.nav-menu__item
        a(href='/').nav-menu__link Авторизация
