.slides__menu
    ul.slides__list
        a(href=`works.html`)
            li.slides__list-item МОИ РАБОТЫ
        a(href=`blog.html`)
            li.slides__list-item БЛОГ
        a(href=`about.html`)
            li.slides__list-item ОБО МНЕ
        a(href=`index.html`)
            li.slides__list-item АВТОРИЗАЦИЯ