.slides__menu
    ul.slides__list
        a(href=`works`)
            li.slides__list-item МОИ РАБОТЫ
        a(href=`blog`)
            li.slides__list-item БЛОГ
        a(href=`about`)
            li.slides__list-item ОБО МНЕ
        a(href=`/`)
            li.slides__list-item АВТОРИЗАЦИЯ