.user-about__section-title
    +title('ОБО МНЕ', 'about', 'about__section-title')

.user-about
    .user-about__picture
        img(src="assets/img/avas/my-photo.jpg", alt="").user-about__img
    .user-about__title
        .subtitle
            | КТО Я
    .user-about__text
        p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений.
          | Мне нравится делать интересные и современные проекты.
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
          | Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!