.about {
  display: flex;

  .title {
    margin-top: -38px;
  }
}

.about__left, .about__right {
  width: 50%;
  position: relative;
}

.about__left {
  background: $about-me;
}

.about__right {
  background: $skills;
}

.about__triangles {
  position: absolute;
  bottom: 100%;
}

.about-data__content {
  padding-top: 10px;
}