.header__blog-title {
  font-size: 63px;
  padding: 35px 65px 60px;
  @include underline(45px, white);
  color: white;
  margin-top: -30px;
}

.blog__desc {
  color: white;
  margin-top: -25px;
}

.blog{
  position: relative;
  background: $blog-color;
  padding-top: 65px;
  @extend %clearfix;
}

.sidebar {
  width: 310px;
  float: left;
}

.post-refs__item {
  text-decoration: none;
  font-size: 16px;
  border-right: 3px solid transparent;
  height: 42px;
  text-align: right;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item_active {
  border-right: 3px solid $btn-color_hover;
}

.post-refs__link {
  color: $btn-color_hover;
}

.blog-content {
  width: 795px;
  float: right;
  padding-right: 110px;
}

.post {
  padding-bottom: 70px;
  margin-bottom: 70px;
  border-bottom: 5px solid #ecebe4;
  color: $subtitle;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.post__title {
  font-size: 35px;
  @include webis();
  color: $subtitle;
  margin-bottom: 15px;
}

.post__date {
  color: $btn-color;
  @include roboto();
  margin-bottom: 25px;
}

.post__contents {
  color: $subtitle;
  @include roboto();
}

.blog__empty {
  height: 165px;
  display: block;
  content: '';
}