.feedbacks {
  background: url("./assets/img/backgrounds/feedback-backgrnd.png") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  @include phone() {
    padding-top: 30px;
  }
}

.feedback__container {
  width: 745px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;

  @include phone() {
    width: 100%;
  }
}

.feedback__container-title {
  width: 600px;
  text-align: center;
  line-height: 1.3;
  font-size: 63px;
  color: $main-title;
  padding: 35px 30px;
  line-height: 1em;
  @include underline(0)
  margin-bottom: 35px;

  @include phone() {
    font-size: 35px;
    width: 248px;
    padding-bottom: 0;
    padding-top: 15px;
    line-height: 1.3;

    &:after {
      bottom: -15px;
    }
  }
}

.feedbacks__list {
  width: 100%;
  display: flex;

  @include phone() {
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
}

.feedbacks-item {
  width: 50%;
  text-align: center;
  margin-bottom: 70px;

  @include phone() {
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.feedbacks-item__author-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}

.feedbacks-item__author-first {
  margin-top: -20px;
  margin-left: -2px;
}

.feedbacks-item__text {
  color: $subtitle;
  margin-bottom: 30px;
  text-align: left;
}

.feedbacks-item__author {
  display: inline-block;
  @include roboto(medium);
  color: $btn-color-hover;
  margin: 5px auto;
}

.feedbacks-item__author-pos {
  color: $main-title;
}

.feedbacks__contact-form {
  margin-bottom: 70px;

  @include phone() {
    width: 300px;
    padding-top: 20px;
    margin-bottom: 0;
  }
}

.contact-form__title {
  font-size: 35px;
  @include underline(-20px, $subtitle);
  color: $subtitle;
  margin-bottom: 30px;

  @include phone() {
    font-size: 21px;
    margin-bottom: 0;

    &:after {
      bottom: -10px;
    }
  }
}

.feedbacks-arrow__icon {
  display: block;
  margin: 0 auto;
  transform: rotate(180deg);
  margin-bottom: 70px;
}

.empty {
  height: $footer-height;

  @include tablet() {
    height: 275px;
  }

  @include phone() {
    height: 345px;
  }
}

.feedbacks__background-img {
  width: 100%;
  position: absolute;
  bottom: -70px;
  z-index: -1;
}