footer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;

  @include phone() {
    font-size: 14px;
  }
}

.footer_transparent {
  position: absolute;
  background: rgba(83, 89, 93, .6);

  .footer__row_bottom {
    background-color: rgba(129, 169, 113, .5);
  }
}

.footer_solid {
  background: #555a5d;

  .footer__row_bottom {
    background: #81aa70;
  }
}

.footer__row_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 30px 25px 30px;

  @include phone() {
    padding: 0;
  }
}

.footer__left, .footer__center, .footer__right {
  width: 33.3%;

  @include phone() {
    padding: 15px;
  }
}

.footer__left, .footer__center {
  color: #fff;

  @include tablet() {
    width: 50%;
  }

  @include phone() {
    width: 100%;
  }
}

.footer__left {
  @include tablet() {
    padding-right: 20px;
  }

  @include phone() {
    text-align: center;
    line-height: 1.62em;
  }
}

.footer__center {
  position: relative;
  padding: 0 30px;
  display: flex;
  flex-direction: column;

  &:before, &:after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 97%;
    width: 1px;
    background: #a1a7a5;
    top: 4px;

    @include tablet() {
      top: 2px;
    }

    @include phone() {
      display: none;
    }
  }

  &:before {
    right: 0;

    @include tablet() {
      display: none;
    }
  }

  &:after {
    left: 0;
  }

  @include phone() {
    padding: 15px;
    border-top: 1px solid #a1a7a5;
    border-bottom: 1px solid #a1a7a5;
    align-items: center;
    padding-bottom: 10px;
  }

  .socials__link:hover {
    color: #a1a7a5;
  }
}

.footer__right {
  color: #a3a6a9;
  line-height: 1.65em;
  padding-left: 30px;

  @include tablet() {
    width: 100%;
    //height: 90px;
    padding-left: 0;
  }

  @include phone() {
    padding: 15px;
    //height: auto;
    text-align: center;
  }
}

.footer__right-quote {
  @include roboto(l-italic)
}

.footer__right-author {
  @include roboto(b-italic)
}

.row-bottom-writing {
  color: white;
  @include roboto(light);
  padding: 7px;
}

.nav-menu {
  display: flex;
  max-width: 405px;
  justify-content: space-between;
  margin-bottom: 18px;
  flex-wrap: wrap;

  &__item {
    @include roboto(medium);
  }

  &__link:hover {
    color: #a1a7a5;
  }

  @include laptop() {
    max-width: 345px;
    margin-bottom: 15px;
  }

  @include tablet() {
    max-width: 310px;
  }

  @include phone() {
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}