.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .socials {
    position: absolute;
    top: 23px;
    left: 20px;
  }

  @include phone() {
    height: 555px;
  }
}

.hero__bg {
  //height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.hero__bg-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100vw;
}

.hero-blog__bg {
  bottom: -400px;
  position: absolute;
}

.down-arrow {
  height: 18px;
  width: 28px;
  bottom: 65px;
  @include centered(x);
  z-index: 1;
  cursor: pointer;
}

.down-arrow__icon {
  height: 100%;
  width: 100%;
  fill: #c3d4cb;

  &:hover {
    fill: white;
  }
}

.hero__title {
  display: inline-block;
  position: absolute;
  left: 50%;
  text-align: center;

  &_gen {
    @include centered()
  }
}

.hero__user-block {
  width: 100%;

  .user__name {
    font-size: 34px;
  }

  .user__desc {
    @include roboto()
  }
}