.map {
  position: relative;
  height: 930px;

  @include phone() {
    display: flex;
    flex-direction: column;
    height: 790px;
  }
}

.map-img {
  height: 100%;

  @include phone() {
    flex: 1;
  }
}