.about-user-info__title {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
  .subtitle {
    width: 300px;
    line-height: 1.25em;
    color: $main-title;
    position: relative;
    font-size: 35px;
    display: inline-block;
    @include webis;
    @include underline(-23px)
  }
}

.about-user-info__text {
  padding: 9px 10px 10px 40px;
  margin-bottom: 25px;
}

.skillset {
  padding-right: 40px;
}