.title {
  //color: $main-title;
  @include webis();
  //padding: 35px 65px 10px;
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  @include centeredTitle;
}