li.contents-data#data-blog
    .contents-data__title Страница "Блог"
    form.contents-data__form#data-blog__form(action="admin/addpost" method="POST")
        .form__title Добавить запись
        label.form__input-line
            input(name="title" type="text" placeholder="Название").admin-text__input.blog-form__input#blog-form__title
        label.form__input-line
            -
                var date = new Date().toLocaleDateString('ru', {
                    year: 'numeric',
                    month: 'long',
                    day: '2-digit'
                })
            input(name="date" type="text" value=`${date}`).admin-text__input.blog-form__input#blog-form__date
        textarea(name="text" placeholder="Содержание" rows="7" cols="40")#blog-form__text
        .form__input-block
            input(type="submit" value="Добавить").contents-data__button#blog-form__btn
            .status
