section.section.feedbacks
    .feedback__container
        .section-title
            svg.section__title-img(preserveAspectRatio="none" viewBox="0 0 498.161 175.44")
                use(xlink:href="assets/img/svg/about_header.svg#about")
            +title("ЧТО ОБО МНЕ ГОВОРЯТ", 'section-title__text')
        ul.feedbacks__list
            li.feedbacks-item
                .feedbacks-item__author-pic
                    img.feedbacks-item__author-first(src="./assets/img/avas/dkovalchuk-photo.jpg")
                .feedbacks-item__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool!
                    | 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .feedbacks-item__author Ковальчук Дмитрий
                .feedbacks-item__author-pos &ndash; Основатель Loftschool
            li.feedbacks-item
                .feedbacks-item__author-pic
                    img.feedbacks-item__author-second(src="./assets/img/avas/vsabantsev-photo.jpg")
                .feedbacks-item__text Этот код выдержит любые испытания. Только пожалуйста,
                    | не загружайте сайт на слишком старых браузерах!
                .feedbacks-item__author Сабанцев Владимир
                .feedbacks-item__author-pos &ndash; преподаватель
        a(href="#start").feedbacks__arrow
            svg.feedbacks-arrow__icon
                use(xlink:href="assets/img/sprite.svg#arrow_down")
        img.feedbacks__leaves#feedbacks__leave-img-1(src="assets/img/content/section-feedbacks/leave1.png")
        img.feedbacks__leaves#feedbacks__leave-img-2(src="assets/img/content/section-feedbacks/leave2.png")
        img.feedbacks__leaves#feedbacks__leave-img-3(src="assets/img/content/section-feedbacks/leave3.png")
    .empty
    .feedbacks__background
        img.feedbacks__background-img(src="./assets/img/backgrounds/feedback-backgrnd.png")
    .feedbacks__blur-wrapper
        .contact-form__blur
        include form