section.works
    .works__up#works-up
        +poligon("f8f9f5")
        .section-title
            svg.section__title-img(preserveAspectRatio="none" viewBox="0 0 505.101 165.036")
                use(xlink:href="assets/img/svg/works_header.svg#works")
            +title("МОИ РАБОТЫ", 'section-title__text')
    .works__contents
        .works__schoolsite
            .schoolsite__block
                .schoolsite__block-title САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЯ
                .schoolsite__block-techs HTML, CSS, JAVASCRIPT
                a(href="").schoolsite__link
                    button.schoolsite__btn
                        .schoolsite__btn-text
                            i.fa.fa-chain.schoolsite__btn-icon
                            .schoolsite__btn-txt Посмотреть сайт
        .works__large
            img.works__large-img(src="./assets/img/content/works/1.png")
        .works__slider
            .slider.slider__down
                .slider__display
                    ul.slider__list.slider__list-down
                        each num in [1,2,3]
                            if num == 1
                                li.slider__item.active
                                    img(src=`./assets/img/content/works/${num}.png`, alt="")
                            else
                                li.slider__item
                                    img(src=`./assets/img/content/works/${num}.png`, alt="")
                .slider__overlaydown
                a(href="#").slider__move.slider__move-down
                    svg.slider__down-icon
                        use(xlink:href="./assets/img/sprite.svg#portf_arrow_down")


            .slider.slider__up
                .slider__display
                    ul.slider__list.slider__list-up
                        - var nums = [1,2,3]
                        each num in nums
                            if num == nums.length
                                li.slider__item.active
                                    img(src=`./assets/img/content/works/${num}.png`, alt="")
                            else
                                li.slider__item
                                    img(src=`./assets/img/content/works/${num}.png`, alt="")
                .slider__overlayup
                a(href="#").slider__move.slider__move-up
                    svg.slider__up-icon.slider__move-icon
                        use(xlink:href="./assets/img/sprite.svg#portf_arrow_up")