$btn-color: #6c9c5a;
$btn-color_hover: #4e8839;
$blog-color: #faf8f0;
$subtitle: #566358;
$main-title: #373e42;
$about-me: #ebefe1;
$skills: #f4f5f0;
$footer-height: 185px;

// mixins
@import "helpers/mixins";

// layout setups
@import "layout/setups";
@import "layout/fonts";
@import "layout/font-awesome";

@import "blocks/**/*";