@mixin centered($axis: 'both') {
  position: absolute;

  @if $axis == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin centeredTitle() {
  left: 50%;
  transform: translateX(-50%);
}

%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin underline($bottom: 0, $background: $main-title) {
  &:after {
    content: '';
    display: inline-block;
    width: 90px;
    height: 3px;
    background: $background;
    position: absolute;
    bottom: $bottom;
    left: 50%;
    margin-left: -45px;
  }
}

@mixin desktop() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (max-width: 768px) {
    @content;
  }
}


@mixin phone() {
  @media screen and (max-width: 320px) {
    @content;
  }
}