.map {
  position: relative;

  @include phone() {
    display: flex;
    flex-direction: column;
    height: 1145px;
  }
}

#my-map {
  //height: 930px;
  height: 100vh;
  position: relative;

  @include laptop {
    height: 785px;
  }

  @include tablet {
    height: 635px;
  }
}