.blog-form__input {
  width: 300px;
  margin-bottom: 20px;
  padding-left: 20px;
}

#blog-form__text {
  resize: none;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 40%;
  height: 40%;
  padding: 20px;
}