extends ../main-layout

block variables
    - var title = 'Blog'
    - var footerClass = 'footer_blog'

block content
    section.section.hero-blog
        .hero-blog__bg
            img(src="assets/img/header-img.jpg", alt="").hero-blog__bg-img

        +socials('vk', 'github-alt', 'linkedin')

        a(href="").hamburger
            img(src="./assets/img/content/hamburger.png").hamburger-img

        a(href="").down-arrow
            img(src="./assets/img/arrow_down.svg", alt="").down-arrow__icon

        .hero__title.hero__title_blog
            .user.hero__user-block
                .user__photo
                    .user__photo-avatar
                        img(src="./assets/img/content/user.jpg", alt="").user__photo-img
                +title("БЛОГ", "header-blog.png", "header__blog-title")
                .blog__desc Статьи, которые я написал

    section.section.blog
        +poligon("f8f9f5")
        aside.sidebar
            ul.post-refs__list
                each post in posts
                    li.post-refs__item.item_active
                        a(href"#").post-refs__link= post.title
                li.post-refs__item
                    a(href"#").post-refs__link First blogpost

        main.blog-content
            ul.blog__posts
                each post in posts
                    li.post
                        .post__title= post.title
                        .post__date= post.date
                        .post__contents
                            each art in post.text
                                p= art

    .blog__empty