extends ../main-layout

//-block variables
    - var title = 'My Works'
    - var footerClass = 'footer_transparent'

block content
    section.section.hero
        .hero__bg
            img(src="assets/img/header-img.jpg", alt="").hero__bg-img

        +socials('vk', 'github-alt', 'linkedin')

        img(src='assets/img/backgrounds/header-portfolio.png').ghost-img-portfolio

        a(href="").hamburger
            img(src="./assets/img/content/hamburger.png").hamburger-img

        a(href="").down-arrow
            img(src="./assets/img/arrow_down.svg", alt="").down-arrow__icon

        .hero__title_gen
            .user.hero__user-block
                .user__photo.user__photo_gen
                    .user__photo-avatar
                        img(src="./assets/img/content/user.jpg", alt="").user__photo-img
                .user__name Рысухин Максим
                .user__desc Личный сайт веб-разработчика

    include ../parts/section-works

    include ../parts/feedbacks